/* Orange variables */
$theme-color: #fcd708;
$text-color: #2f343b;
$text-color-secondary: #434b57;
$text-grey: #738296;
$divider: #e8e8e8;
$lighter-grey: #ccc;
$darker-grey: rgb(77, 76, 76);
$smoky-white: #f5f5f5;
$heart: #fb866a;
